<!DOCTYPE html>
<html>
<head>
    <title>Cadastre seu veículo</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/veiculo.css'>
    <script src='../script/veiculo.js'></script>
</head>
<body>
    <div class="container">
        <header><a href="../view/home.html"><img src="../view/img/logo2.png"></a></header>
        <form>
            <main>
                <br><br><br><br><br><br>
                <label for="tipo">Tipo:</label><br>
                <input type="text" name="tipo" id="tipo" placeholder="Tipo"><br>
                <label for="marca">CEP:</label><br>
                <input type="text" name="marca" id="marca" placeholder="Marca"><br>
                <label for="modelo">Modelo:</label><br>
                <input type="text" name="modelo" id="modelo" placeholder="Modelo"><br>  
                <label for="cor">Cor:</label><br>        
                <input type="text" name="cor" id="cor" placeholder="Cor"><br>
                <label for="ano">Ano:</label><br>
                <input type="text" name="ano" id="ano" placeholder="Ano"><br>
                <label for="tamanho">Tamanho:</label><br>
                <input type="text" name="tamanho" id="tamanho" placeholder="Tamanho"><br>
                <br>
                <br>
                <input id="btn_car" type="button" value="CADASTRAR VEÍCULO" onclick="cadastro_veiculo()"><br><br><br><br>
            </main>
        </form>
        <aside></aside>
        <footer>
            <br><br>Copyright © 2024 | Gabriel.Joicy.Julio.Leonardo.Victoria
        </footer>
    </div>
</body>
</html>